/* file will deal with alignment of elements I was using skeloton.css for this but I want thing to be layed out a little differantly  */

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.oneThrid { 
    flex-wrap: wrap;
    background-color:white;
    padding: 15px;
    width: 25%;
    margin-top: -43px;
}

.twoThrids {
    flex-wrap: wrap;
    padding-left: 1.7%;
    width: 71%;
    margin-top: -30px;
}

/* responsive layout css  */

@media screen and (max-width: 1400px) {
    .oneThrid { 
        width: 24%;
    }

    .twoThrid { 
        width: 51%;
        padding-left: 2%;
    }
}

@media screen and (max-width: 980px) {
    .oneThrid { 
        width: 100%;
    }

    .twoThrids {
        width: 100%; 
        margin-top: 10px;
    }
}
