.sectionTwo {
    background-color: white;
    padding: 10px;
}

.bodyHeader {
    text-transform: capitalize;
    background-color: #204f68;
    color: white;
    margin-right: -20px;
    position: relative;
    top: -10px;
    padding: 10px 10px;
    width: 100%;
}

.low {
    background-color: rgb(124, 201, 47);
}

.mid {
    background-color: rgb(238, 234, 26);
}

.high {
    background-color: rgb(231, 35, 35);
}