.forecast {
    background-color: white;
}

.bodyHeader {
    background-color: #204f68;
    font-size: 30px;
    padding: 15px;
    color: white;
    margin-bottom: 0px;
}

.dataBox {
    margin-top: -15px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.data {
    width: 60%;

}

.weatherImg {
    width: 40%;
    margin-top: 15px;
}

img {
    width: 150px;
    height: 150px;
}
 
.uv {
    padding:7px;
    width: 30%;
}

.low {
    background-color: rgb(124, 201, 47);

}

.mid {
    background-color: rgb(238, 234, 26);
}

.high {
    background-color: rgb(231, 35, 35);
}


/* stuff in the fiveDay component */

.five{
    color: white;
}

.date {
    color: white;
}

.fiveday {
    /* margin-top: 10px; */
    background-color: #204f68;
}

.fiveBoxes {
    background-color: #204f68;
    display: inline;
    float: left;
    width: 17%;
    padding: 8px;
    margin-left: 10px;
}

.centerImg {
    margin-left: 20%;
}

.smallerImg{
    width: 80px;
    height: 80px;
}

.dailytext{
    color: white;
}