.sectionOne {
    background-color: white;
    padding: 10px;
    width: 100%;
}

.searchBox {
    max-height: 30px;
    width: 100%;
    margin-bottom: 26px;
}

.inputbox {
    width: 75%;
    border: 1px #204f68 solid;
    font-size: 20px;
}


.searchBtn {
    background-color: #204f68;
    color: white;
    border: none;
    font-size: 20px;
    padding: 2px 2px;
}

/* Advanced search function styling */

.Advance {
    background-color: white;
    border: none;
    color: #204f68;
    margin: 4px;
}

.advancedSearch {
    margin-bottom: 30px;
    background-color: blue;
}


/* history */

.historyBtns {
    display: block;
    width: 97%;
    height: 40px;
    font-size: 20px;
    background-color:white;
    border: 1px #204f68 solid;
    margin-bottom: -1px;
    text-transform: capitalize;
}

.historyBtns:hover {
    background-color: #204f68;
    color: white;
}