body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', sans-serif;
    height: 100%;

}

.header {
    width: 100%;
    background-color: #204f68;
    color: white;
    padding: 25px;
    text-align: center;
    position: relative;
    top: -21px;
}

.bg {
    position: relative;
    top: -13px;
}